.directions_a{
    color: #ff6f61;
}


.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    padding-bottom: 15px;
}

.main_title{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_title_h{
    font-size: 50px;
}

.main_info{
    width: 100%;
    display: flex;
    flex-direction: column;
}


.main_info_top{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 20px 0;
}
.main_info_bottom{
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0 20px 0;
}

.main_info_sec{
    width: 25%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main_info_sec:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.5s;
}
img{
    border-radius: 15px;
}
h2{
    color: #0073e6;
    margin: 10px 0 10px 0;
}
.main_info_sec_p{
    font-size: 16px;
    color: #444;
}